body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

input {
  padding: 10px;
  margin: 10px;
  width: 150px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #2273f5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: ##5996f7;
}

#result {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

